img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

.cover {
  background-color: white;
  position: absolute;
}

img:hover {
  opacity: 0.7;
}

img:active {
  transform: scale(0.95);
}

/* .card {
    width: 100px;
  height: 100px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
