img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

img:hover {
  opacity: 0.7;
}

img:active {
  transform: scale(0.95);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: white;
  position: absolute;
}
