* {
  transition: ease-in 0.2s;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

img:active {
  transform: scale(0.95);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: rgb(56, 218, 183);
  position: absolute;
}

.cover:hover {
  background-color: rgb(164, 160, 229);
}
